@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.datepicker-grid .datepicker-cell.disabled {
    @apply text-light-300 dark:text-dark-500;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
    -webkit-text-fill-color: #24272e !important;
}

.dark input:-webkit-autofill,
.dark textarea:-webkit-autofill,
.dark select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #13161c inset !important;
    -webkit-text-fill-color: #ffffff !important;
}
